/* Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Amatic SC", sans-serif;
    font-size: 16px;
    min-width: 300px;
    background-color: lightgray
  }
  
  /* Generic utilities */
  .d-none {
    display: none;
  }
  
  /* Generic components */
  .link-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid black;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  .loop-back {
    font-weight: 700px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px;
    margin: 10px;
  }

  .section-title {
    font-weight: 700px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .carousel-caption {
    font-size: 2.0rem;
    font-weight: 700px;
    color: black;
    background-color:whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .radio-buttons {
    display: inline;
    font-size: 1.5rem;
    font-weight: 500px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }


  /* Header & Nav area */
  .page-header {
    display: grid;
    grid-template-areas: 
      "logo regular-nav";
    row-gap: 1.5rem;
    justify-content: space-between;
    margin: 1rem 1.5rem;
  }
  
  .logo {
    text-transform: uppercase;
    text-align: left;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 2px;
    grid-area: logo;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .page-header-menu-container {
    display: flex;
  }
  
  .page-header-menu-container--regular {
    grid-area: regular-nav;
  }
  
  .nav,
  .nav-tab,
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .nav-item {
    padding-right: 1rem;
    text-transform: uppercase;
  }
  
  .nav-item > .nav-link {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 1.75rem;
    font-weight: 700;
  }
      
  /* Main area > header banner */
  .main-banner {
    height: 600px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url(../Images/Quarry_Pup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-banner-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: calc(2rem + 2vw);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  /* main-container-with-margin */
  .main-container-with-margin {
    margin: 0 auto;
    width: 80%;
    max-width: 1440px; 
  }
  
  .tagline, 
  .section-title {
    margin: 1rem 0;
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .hr {
    background-color: lightgrey;
    border: none;
    height: 1px;
  }

  /* Testimonial */
  .testimonial-container {
    margin: 4rem 0;
   text-align: center;
   }
  
  .testimonial-quote {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
    margin: 1rem 0 2rem;
  }
   
  /* Instagram gallery */
  .gallery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image {
    width: 28%;
    margin: 0 15px 30px 15px;
  }
  
  /*Location*/
  .location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 .location {
    text-align: center;
    font-size: calc(1rem + 1vw);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
 }
     
  /* Footer */ 
  .footer {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
  }
     
  /* Form styles */
  
  .form-row {
    margin-top: 0.8rem;
    font-size: 24px;
    font-weight: 700;
    text-decoration: black;
  }
  
  [type=text], [type=email], textarea {
    padding: 0.5rem;
  }
  
  [type=text], [type=email], textarea {
    width: 295px;
    box-sizing: border-box;
  }
  
  [type=submit] {
    padding: 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border: none;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  
  .container-contact {
    display: flex;
    justify-content: space-between;
  }

  /*Services & Pricing*/ 
  .table, 
  .table-hover {
    font-size: 1.75rem;
    font-weight: 700px;
    color: black;
    background-color:whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }  

  .container-pricing {
    display: flex;
    justify-content: space-between;
  }
  
  /* Media queries */
  /* Breakpoint suggestions: https://getbootstrap.com/docs/5.1/layout/breakpoints/ 
     Warning: Bootstrap is mobile first, not desktop first, so in Bootstrap,
     you have min-width and not max-width.
  */
  
  @media screen and (max-width: 992px) {
    .gallery-image {
      width: 44%;
    }
    }
  
  @media screen and (max-width: 768px) {
  
    .page-header {
      grid-template-areas: 
      "regular-menu regular-menu";
    }
  
    .gallery-image {
      width: 100%;
    }  
  
    .three-columns-container-md {
      flex-direction: column;
      align-items: center;
    }
  
    .three-columns-container-md__item {
      width: 80%;
    }  
  
    footer {
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      font-weight: 800;
    }
    }
  
  @media screen and (max-width: 400px) {
    .d-400minus-none {
      display: none;
    }
  }
   

  
